.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
#btn{
  color: white;
  background-color: red;
  height: 40px;
  width: 70px;
  border-radius: 100%;
  border: none;
  text-align: center;
  /* margin-left: 650px;
  margin-top: 10px; */
}
#btn:hover{
  color: red;
  background-color: white;
  height: 40px;
  width: 70px;
  border-radius: 100%;
  border: none;
  outline: none;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
